@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
    background-image: url("./../../assets/bg-food.jpg");
    background-size: cover;
}
@screen md {


.tagline {
    font-family: "Metropolis-regular";
}

.tagline b {
    font-family: "Metropolis-medium";
}


}