@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Metropolis-light";
    src: local("Metropolis"), url("./../fonts/metropolis/Metropolis-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Metropolis-medium";
    src: local("Metropolis"), url("./../fonts/metropolis/Metropolis-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Metropolis-regular";
    src: local("Metropolis"), url("./../fonts/metropolis/Metropolis-Regular.ttf") format("truetype");
}